<configuration >

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Archivo con rotación basada en tiempo -->
    <appender name="SIZE_TIME_OUTPUT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:/Users/janst/Documents/UNU/taller/backTaller/MSProveedor/logProvedores/logProvedores.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Archivo de log rotado por fecha -->
            <fileNamePattern>C:/Users/janst/Documents/UNU/taller/backTaller/MSProveedor/logProvedores/archived/Provedores.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Días para mantener logs -->
            <maxHistory>7</maxHistory>
            <!-- Tamaño total máximo permitido para logs -->
            <totalSizeCap>50MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Logger raíz -->
    <root level="DEBUG">
        <appender-ref ref="SIZE_TIME_OUTPUT_FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
